
/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)),url("/assets/images/bg-hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header img {
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
  100% {
      transform: rotate(360deg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}

.borderli{
  color:#FEA116;
  text-decoration: none;
  font-weight: 700;
}
.borderli:hover{
  color:#dd8707;
}
.slideInDown{
  font-weight: 700;
}

