<!-- Menu Start -->
<div class="container py-2">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

            <h1 class="mb-5 ColorBage2">Extra Food</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active" >
                    <div class="row g-4" >
                        <div class="col-lg-6" *ngFor="let item of extra ;let counter=index">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" [src]="item.data.photo" alt="" style="width: 100px ;height: 120px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span class="ColorBage2">{{item.data.name}}</span>
                                        <span class="ColorBage">${{item.data.price*item.amount}}</span>
                                    </h5>
                                    <span class="ColorBage2">Price : {{item.data.price}} LE</span>
                                    <div class="col-md-3 col-lg-2 col-xl-3 offset-lg-9 d-flex " >
                                        
                                      <button class="btn btn-link px-2" >
                                        <i class="fas fa-minus ColorBage"(click)="minus(item.data.id)"></i>
                                      </button>

                                      <input id="form1" min="0" name="quantity" value={{item.amount}} type="text"
                                        class="form-control form-control-sm" disabled/>

                                      <button class="btn btn-link px-2">
                                        <i class="fas fa-plus ColorBage"(click)="plus(item.data.id)"></i>
                                      </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->