<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
  <h5 class="display-3 section-title ff-secondary text-center Logos slideInLeft fw-normal">Extra Details</h5>
</div>

<div class="container">
  <div class="card m-1">
    <div class="card-header">
      Extar Name : {{Extra?.name}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Extra Id : {{Extra?.id}}</li>
      <li class="list-group-item">Extra Price : {{Extra?.price}}</li>
    </ul>
  </div>
  <div class="btn btn-warning m-2 animated" [routerLink]="['/extras']">Back To Products</div>

</div>