.ff-secondary {
    font-family: 'Pacifico', cursive;
  }
  
  
  .Logos{
    color: rgba(15, 23, 43, .9);
  
    font-weight:700;
  
  }
  
  
  /* Section Title */
  .section-title {
    position: relative;
    display: inline-block;
    }
  
    .section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: rgba(15, 23, 43, .9);
    }
  
    .section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background:  rgba(15, 23, 43, .9);
    }
  
  
    .animated{
      background-color: #FEA116;
      color: white;
    }
    .animated:hover{
      background-color:#dd8707;
      color: white;
    }
    #image{
      height: 150px;
    }