<div class="d-flex flex-column flex-shrink-0 p-3 BgColor text-white h-100" >
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
  
      <span class="fs-4 WhiteColor">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item ">
        <a class="nav-link WhiteColor" [routerLink]="['/meals']" aria-current="page">
          Meal
        </a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link WhiteColor" [routerLink]="['/offer/admin']">
          Offers
        </a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link WhiteColor" [routerLink]="['/extras']">
          Extra
        </a>
      </li>
  
  
    </ul>
    
  </div>