
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
              <a href="" class="navbar-brand p-0">
                  <h1 class="Restoran m-0"><i class="fa fa-utensils me-3"></i>Ali kabr</h1>
                  <!-- <img src="img/logo.png" alt="Logo"> -->
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="fa fa-bars"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav ms-auto py-0 pe-4">
                      <a class="nav-item nav-link " [routerLink]="['']" >Home</a>
                      <a class="nav-item nav-link" [routerLink]="['/meals']"*ngIf="cashierrole()||adminrole()">Cashier </a>
                      <a class="nav-item nav-link" [routerLink]="['/about']">About</a>
                      <a class="nav-item nav-link" [routerLink]="['/mealupdate']">Menu</a>
                      <a  class="nav-item nav-link" [routerLink]="['/contact']">Contact</a>
                      <a class="nav-item nav-link" [routerLink]="['/orders']">Orders  <i class="bi bi-cart-check"></i></a>
                      <a class="nav-item nav-link" [routerLink]="['/admin']"*ngIf="adminrole()">Admin </a>
                     

                  </div>

                <a class="btn btn-warning animated py-2 px-4"*ngIf="!checklog()"[routerLink]="['/login']"><i class="bi bi-box-arrow-in-right"></i> login</a>
                <div *ngIf="checklog()" class="py-2">
                  <strong class="Name"><i class="bi bi-person-circle"> {{username()}}</i></strong>&nbsp;
                <a class="btn btn-warning animated py-2 px-4" (click)="logout()"><i class="bi bi-box-arrow-in-left"></i> logout</a>
              </div>
            </div>

          </nav>


      </div>
      <!-- Navbar & Hero End -->



